
<!-- set banner background color -->
{% if page.section == "about" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "services" %}
  {% assign bg_color = "null-blue" %}
{% elsif page.section == "contact" %}
  {% assign bg_color = "null-pink" %}
{% elsif page.section == "research" %}
  {% assign bg_color = "null-green" %}
{% elsif page.section == "showcase" %}
  {% assign bg_color = "null-yellow" %}
{% elsif page.section == "education" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "home" %}
  {% assign bg_color = "null-violet" %}
{% endif %}

<div class="container-fluid banner">
  <div class="row">
    <div class="col {{ bg_color }}"><img src={{ "/assets/images/ui/black-pixel.png" | relative_url }} class="pixel-filler"></div>
    <div class="{{ bg_color }} text-center col-md-auto">
      <!-- if external image -->
      {% if page.banner contains "https" %}
        <img src={{ post.image }} class="img-fluid" alt="{{ page.title }}">
      {% elsif page.banner %}
        {% assign filename = "/assets/images/" | append: page.banner %}
        <img src={{ filename | relative_url }} alt="Null Object Research" >
      {% endif %}
    </div>
    <div class="col {{ bg_color }}"><img src={{ "/assets/images/ui/black-pixel.png" | relative_url }} class="pixel-filler"></div>
  </div>
</div>

 