
<!-- set BANNER background color -->
{% if page.section == "about" %}
  {% assign bg_color = "null-yellow" %}
{% elsif page.section == "services" %}
  {% assign bg_color = "null-blue" %}
{% elsif page.section == "contact" %}
  {% assign bg_color = "null-pink" %}
{% elsif page.section == "research" %}
  {% assign bg_color = "null-green" %}
{% elsif page.section == "showcase" %}
  {% assign bg_color = "null-violet" %}
{% elsif page.section == "education" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "home" %}
  {% assign bg_color = "random-color" %}
{% endif %}

{% if page.banner != null %}
<div class="container-fluid banner {{ bg_color }}">
  <div class="row">
    <div class="col">
      <img src={{ "/assets/images/ui/black-pixel.png" | relative_url }} class="pixel-filler">
    </div>
    {% assign filename = "/assets/images/" | append: page.banner %}
    <div class="text-center img-container col-md-auto" style="background-image: url( {{ filename | relative_url }} );">    
        <img src={{ filename | relative_url }} alt="Null Object Research" >
    </div>
    <div class="col">
      <img src={{ "/assets/images/ui/black-pixel.png" | relative_url }} class="pixel-filler">
    </div>
  </div>
</div>
{% endif %}

 