


<!-- set background color -->
{% if page.section == "about" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "services" %}
  {% assign bg_color = "null-blue" %}
{% elsif page.section == "contact" %}
  {% assign bg_color = "null-grey" %}
{% elsif page.section == "research" %}
  {% assign bg_color = "null-green" %}
{% elsif page.section == "showcase" %}
  {% assign bg_color = "null-yellow" %}
{% elsif page.section == "education" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "home" %}
  {% assign bg_color = "null-violet" %}
{% endif %}

{% for post in site.categories.education %}
  <div class="row bricks max-width-1200 {% cycle 'null-orange', 'null-blue' %}"> 
  {% assign remainder = forloop.index | modulo:2 %}
  
  {% if remainder == 0 %}

    <!-- if external image -->
    {% if post.image contains "https" %}
      <div class="col-sml-12 col-lg-8 bricks-image" style="background-image: url( {{ post.image }} );">
    {% elsif post.image %}
      {% assign filename = "/assets/images/" | append: post.image %}
      <div class="col-sml-12 col-lg-8 bricks-image" style="background-image: url( {{ filename | relative_url }} );">
    {% endif %}
      </div>
      <div class="col-sml-12 col-lg-4 bricks-text">
        <header class="post-header">
          <h1 class="post-title">{{ post.title }}</h1>
        </header>
        <div class="post-content">{{ post.content }}</div>
        <div class="post-link"><a href="{{ post.url | relative_url}}" type="button" class="btn btn-custom">Discover More</a></div>
      </div>

  {% else %}
      
      <div class="col-sml-12 col-lg-5 bricks-text">
          <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
          </header>
          <div class="post-content">{{ post.content }}</div>
          <div class="post-link"><a href="{{ post.url | relative_url}}" type="button" class="btn btn-custom">Discover More</a></div>
      </div>
      <!-- if external image -->
    {% if post.image contains "https" %}
      <div class="col-sml-12 col-lg-7 bricks-image" style="background-image: url( {{ post.image }} );">
    {% elsif post.image %}
      {% assign filename = "/assets/images/" | append: post.image %}
      <div class="col-sml-12 col-lg-7 bricks-image" style="background-image: url( {{ filename | relative_url }} );">
    {% endif %}
      </div>

  {% endif %}



    
 </div>

{% endfor %}