

 <div class="col-12 col-md-6 col-lg-4">
     <a href="{{ post.url | relative_url}}" class="index-anchor">
      <div class="card overflow-hidden">  
        <div class="img-fluid">
          {% if post.image %}
          <img src="{{post.image | relative_url}}" alt="{{post.title}}">
          {% endif %}
          <div class="card-body">
            <div class="mb-4">
              {% for item in post.categories %}
                <span class="category">{{ item }} </span>
                <!-- add black dot except for last -->
                {% if forloop.index != post.categories.size %}
                      <span class="black-dot"></span>
                 {% endif %}
              {% endfor %}
            </div>
            <h2 class="panel-title">{{ post.title | truncate: 25 }}</h2>
             <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
          </div>
        </div>
      </div>
    </a>
 </div>

  