

{% if page.section == "showcase" %}
  <!-- 3 cards each row -->
  {% assign columns = "col-lg-4" %}
  {% assign card-images = "card-images-sml" %}
{% else %}
  <!-- 2 cards each row -->
  {% assign columns = "col-lg-6" %}
  {% assign card-images = "card-images-lg" %}
{% endif %}

<!-- set background color -->
{% if page.section == "about" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "services" %}
  {% assign bg_color = "null-blue" %}
{% elsif page.section == "contact" %}
  {% assign bg_color = "null-grey" %}
{% elsif page.section == "research" %}
  {% assign bg_color = "null-green" %}
{% elsif page.section == "showcase" %}
  {% assign bg_color = "null-yellow" %}
{% elsif page.section == "education" %}
  {% assign bg_color = "null-orange" %}
{% elsif page.section == "home" %}
  {% assign bg_color = "null-violet" %}
{% endif %}


 <div class="col-12 col-md-6 {{ columns }}">
      <div class="card overflow-hidden">  
        <div>
          <div class="img-fluid {{ card-images }} {{ bg_color }}">
            <!-- if external image -->
            {% if post.image contains "https" %}
              <img src={{ post.image }} alt="{{ post.title }}">
            {% elsif post.image %}
              {% assign filename = "/assets/images/" | append: post.image %}
              <img src={{ filename | relative_url }} alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="card-body">
            <div class="mb-4">
              <!-- calculate how many categories will be used -->
              {% assign category-size = post.categories.size %}
              {% if post.categories contains "showcase" %}
                {% assign category-size = post.categories.size | minus:1 %}
              {% endif %}

              <!-- print the list of categories  -->
              {% for item in post.categories %}
                {% if item != "showcase" %}
                  <span class="category">{{ item }} </span>
                  <!-- add black dot except for last -->
                  {% if forloop.index != category-size %}
                        <span class="black-dot"></span>
                  {% endif %}
                {% endif %}
              {% endfor %}

            </div>
            <h2 class="panel-title">{{ post.title | truncate: 25 }}</h2>
             <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}</p>
             <a href="{{ post.url | relative_url}}" type="button" class="btn btn-custom">More...</a>
          </div>
        </div>
      </div>
 </div>

  