

{% if page.carousel %}
  <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for item in page.carousel %}
          {% assign filename = "/assets/images/" | append: item.image %}
          {% if forloop.index == 1 %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = null %}
          {% endif %}
          <div class="carousel-item {{ active }}" data-caption="{{ item.caption }}">
            <img src= {{filename | relative_url}} class="d-block w-100" alt="{{ item.caption }}">
          </div>
      {% endfor %}

      <!-- <div class="carousel-item active" data-caption="First slide label">
        <img src= {{"/assets/images/placeholder1.jpg" | relative_url}} class="d-block w-100" alt="...">
      </div> -->

    </div>

    <div class="carousel-control-slide-no"> <!-- 1/x --> </div>
    <div class="carousel-control-caption"> <!-- caption --> </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <img src= {{"/assets/images/ui/arrow-left.svg" | relative_url}} class="arrow" alt="Left arrow">
      <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <img src= {{"/assets/images/ui/arrow-right.svg" | relative_url}} class="arrow" alt="Right arrow">
      <span class="visually-hidden">Next</span>
    </button>

  </div>
{% endif %}