
<div class="container-fluid null-slate"></div>
  <div class="row bricks max-width-1200 ">     
      <div class="col-sml-12 col-lg-12 bricks-text">
        <header class="post-header">
          <h1 class="post-title"><blockquote> <p>{{ content }}</p> </blockquote></h1>
          <!-- <h1 class="post-title">{{ post.title }}</h1> -->
        </header>
        <div class="post-content">
          <blockquote> <p>{{ content }}</p> </blockquote>
        </div>
        <!-- <div class="post-content">{{ post.content }}</div> -->
      </div>  
 </div>
</div>

