<form action="https://forms.un-static.com/forms/b70acc1b38172be8389c8d975c44cf8435e5301c" method="post" class="needs-validation" id="contact-form" novalidate>

  <div class="mb-3 contact-form">
    <label for="nameInput1" class="form-label">Your name</label>
    <input type="text" class="form-control" name="name" id="nameInput1" required>
    <div class="invalid-feedback">
      Please add your name.
    </div>
  </div>

  <div class="mb-3 contact-form">
    <label for="emailInput1" class="form-label">Your email address</label>
    <input type="email" class="form-control" name="email" id="emailInput1" placeholder="name@example.com" required>
    <div class="invalid-feedback">
      Please add your email.
    </div>
  </div>

  <div class="mb-3 contact-form">
    <label for="msgTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" name="message" id="emailInput1" rows="3" required></textarea>
    <div class="invalid-feedback">
      Please add a message.
    </div>
  </div>

  <button type="submit" id="contact-form-submit" class="btn btn-primary">Submit</button>
</form>

