<form
  action="https://formspree.io/f/mbjvkkrl"
  method="POST"
>
  <div class="mb-3">
    <label for="nameInput1" class="form-label">Your name</label>
    <input type="text" class="form-control" name="name" id="nameInput1">
  </div>

  <div class="mb-3">
    <label for="emailInput1" class="form-label">Your email address</label>
    <input type="email" class="form-control" name="email" id="emailInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="msgTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" name="message" id="emailInput1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

