<div class="container mt-3 mb-5">
  <div class="row faqs max-width-600">  
      <div class="col pt-1">

        <h1 class="post-title">FAQs</h1>

        <div class="accordion " id="accordion-faqs">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Accordion Item
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Qui magnam molestiae et voluptates minus ea ipsum voluptates ut culpa exercitationem hic ipsam assumenda! Et aliquid rerum ea atque dolorem aut maiores laudantium sed labore aspernatur sit itaque aspernatur aut aperiam culpa. Qui nobis adipisci et alias consequuntur ab dolore omnis et voluptatem autem et quidem quis. Est voluptas maiores eos ullam cupiditate vel maxime dolorem sed pariatur laborum et molestiae voluptatibus est perferendis dicta sit dolorem earum. .</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Accordion Item
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Qui nobis adipisci et alias consequuntur ab dolore omnis et voluptatem autem et quidem quis. Est voluptas maiores eos ullam cupiditate vel maxime dolorem sed pariatur laborum et molestiae voluptatibus est perferendis dicta sit dolorem earum.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item 
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Aut consequuntur fugiat qui veritatis quidem vel illum vitae qui odit galisum. Et incidunt ipsam eum voluptatibus sequi et natus illo non iste inventore.
                <br><br>
              Est quod nulla aut mollitia dicta et numquam internos rem tenetur voluptas eum fugiat mollitia. Est molestiae omnis est Quis cupiditate quo omnis dolor sit excepturi velit eum possimus vero sed voluptas tenetur! </div>
            </div>
          </div>
        </div>

    </div>       
  </div>
</div>