<footer class="mt-auto null-slate">
  <div class="container-fluid max-width-1800">

    <div class="row p20">
      
       <div class="col-md-6 copyright">
        {% if site.copyright %}
          {{site.copyright}}
        {% endif %}
      </div>


      <div class="col-md-6 links">
        {% if site.github %}
        <a target="_blank" href="{{site.github}}"
          >Github</a>
        {% endif %} 
        <span class="dot"></span>
        {% if site.email %}
        <a target="_blank" href="mailto:{{site.email}}">
          Email
        </a>
        {% endif %}
        <span class="dot"></span>
        {% if site.instagram %}
        <a target="_blank" href="{{site.instagram}}">
          Instagram
        </a>
        {% endif %}
      </div>
      
    </div>
  </div>

</footer>
