

<div class="container-fluid null-slate mt-5">
	<figure class="null-equation">
	   <div class="row d-flex align-items-center">
	   	  <div class="col-2">
	      </div>

	      <div class="col  text-center">
	         <img src="{{'/assets/images/ui/null-object-circle-pink.svg' | relative_url}}" class="img-fluid null-equation-circle" alt="Null Circle"/>
	      </div>
	   
	      <div class="col text-center">
	         <img src="{{'/assets/images/ui/null-object-strike-3-green-rgb.svg' | relative_url}}" class="img-fluid" alt="Null Strike"/>
	      </div>

	      <div class="col text-center">
	         <!-- <img src="{{'/assets/images/ui/null-equals-white.svg' | relative_url}}" class="img-fluid" style="width: 30%" alt="equals"/> -->
	         <span>=></span>
	      </div>

	      <div class="col  text-center">
	         <img src="{{'/assets/images/ui/null-object-null-symbols-5-yellow-rgb.svg' | relative_url}}" class="img-fluid null-equation-null-logo" alt="Null Logo"/>
	      </div>
	   		
	   	  <div class="col-2">
	      </div>
	   </div>

	   <div class="row pt-4">
	      <div class="col-2">
	      </div>

	      <div class="col text-center">
	      	<figcaption class="text-center">Problem</figcaption>
	      </div>
	   
	      <div class="col text-center">
	      	<figcaption class="text-center">Null Object</figcaption>
	      </div>

	      <div class="col text-center">
	      	<figcaption class="text-center"></figcaption>
	      </div>

	      <div class="col text-center">
	      	<figcaption class="text-center">Solution</figcaption>
	      </div>
	   		
	   	  <div class="col-2">
	      </div>
	   </div>
	</figure>
</div>
