<div class="container-fluid null-slate mt-5">
  <div class="row service-icons max-width-1200">
        
        <div class="col text-center pt-5">
          <span class="material-symbols-outlined size-48">code</span>
          <h4 class="pt-5">Development</h4>
          <p class="text-start p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
     
        <div class="col text-center pt-5">
          <span class="material-symbols-outlined size-48">psychology</span>
          <h4 class="pt-5">Solutions</h4>
          <p class="text-start p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="col text-center pt-5">
          <span class="material-symbols-outlined size-48">bolt</span>
          <h4 class="pt-5">Cutting Edge</h4>
          <p class="text-start p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="col text-center pt-5">
          <span class="material-symbols-outlined size-48">lightbulb</span>
          <h4 class="pt-5">Solutions</h4>
          <p class="text-start p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>       
  </div>
</div>