.max-width-1200 {
    max-width: 1200px;
    margin: auto;
}

@include media-query($on-palm) {
    .max-width-800 {
        max-width: 100%;
    }
}

// page background
.null-green {
	background: #BFFF2E;
}

.null-violet {
	background: #9C88BF;
}

.null-pink {
	background: #FF227F; 
}

.null-blue {
	background: #6FEDFF;
}

.null-blue {
	background: #6FEDFF;
}

.null-orange {
	background: #FF9200;
}

.null-yellow {
	background: #FFFF00; //#282923
}

.null-slate {
	background: #282923;
}

.null-grey {
	background: #E1E1E1;
}

// nav

.navbar {
  border-radius: 0;
}

.navbar .container-fluid {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 1.0rem !important;
}

.navbar-dark .navbar-toggler {
	background: #282923;
	border-color: #282923;

}

.navbar .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-brand {
	padding: 10px 0px 10px, 0px;
	height: 70px;
}

a.nav-link {
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
	text-decoration: none;
}

a.nav-link:hover {
	color: #E1E1E1 !important;
	background: url("/assets/images/ui/nav-hilite-green.svg") no-repeat;
	background-position-x: center;
	background-position-y: 120%;
	background-size: 100%;
    //background-color:red !important;
}

// banner
.banner {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.banner img {
	/*width: 100% !important;*/
	/*max-height: 300px;*/
	mix-blend-mode: multiply;
}

// page headings
.post-title {
	padding-top: 40px;
}

// bricks
.bricks {
	/* color: #ffffff; */
	/* font-size: 30px; */
}

.bricks .bricks-text {
	color: #282923;
	font-size: 0px;
}

.bricks .bricks-text blockquote {
	/* display: inline; */
	color: #ffffff;
	font-size: 40px;
	padding: 40px;
	line-height: 3rem;
}

.bricks .bricks-text p {
	// display: none;
}

.bricks .bricks-text blockquote em {
	/* display: inline; */
	color: #BFFF2E;
	text-transform: uppercase;
	font-style: normal;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
}

.bricks .bricks-image {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.bricks .bricks-image {
	mix-blend-mode: multiply;
	background-size: cover;
	background-position: center;
}

// footer
footer .container-fluid, i .fa-sharp {
	color: #ffffff;
	/*padding-right: 1.75rem;
  	padding-left: 1.75rem;*/
}

footer .col-md-6 {
	padding-right: 1.75rem !important;
	padding-left: 1.75rem !important;
}

footer .links {
	text-align: left;
}

footer .copyright {
	text-align: right;
}



@include media-query($on-palm) {
    footer .links {
		text-align: center;
		padding-bottom: 15px;
	}

	footer .copyright {
		text-align: center;
		padding-top: 15px;
	}
}

footer a, footer {
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
	text-decoration: none;
}

footer a:hover {
	color: #E1E1E1 !important;
}

footer a {
	font-size: 12px;
}



.card {
	border-radius: 0;
}

.card .panel-title {
	margin-top: 20px;
}

.card h2 {
	font-size: 2rem;
}

.card-body {
	margin-bottom: 20px;
}

.card-body .category,
.form-label {
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
}

.card .card-images-sml {
	max-height: 180px;
	overflow: hidden;
}

.card .card-images-lg {
	max-height: 260px;
	overflow: hidden;
}

.card img {
	mix-blend-mode: multiply;
}

// carousel

.carousel-item {
	background: yellow;
}

.carousel img {
	mix-blend-mode: multiply;

}

.carousel {
    position: relative;
    padding-bottom: 50px;
    background-color: white;
}



.carousel .carousel-control-prev {
	position: absolute;
	height:30px;
	width: 30px;
	opacity: 0.9;
	top: unset;
	left: unset;
	bottom: 10px; 
	right: 50px;
}

.carousel .carousel-control-next {
	position: absolute;
	height:30px;
	width: 30px;
	opacity: 0.9;
	top: unset;
	left: unset;
	bottom: 10px; 
	right: 20px;
}

.carousel .arrow {
	width: 15px;
}

.carousel .carousel-control-slide-no {
	position: absolute;
	width: 60px;
	opacity: 0.9;
	bottom: 12px; 
	left: 20px;
	font-family: 'GT-America-Mono';
}

.carousel .carousel-control-caption {
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	width: 300px; /* Need a specific value to work */
	opacity: 0.9;
	bottom: 12px; 
	font-family: 'GT-America-Mono';
	text-align: center;
	text-transform: uppercase;
}


footer {
	border-top: 0px solid !important;
}

.black-dot {
  height: 3px;
  width: 3px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin: 1px 7px 3px 5px;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 1px 3px 3px 5px;
}

.btn-custom {
	background: #ffffff;
	padding: 10px 30px 10px 30px;
	border-radius: 0;
	border: 1px solid #282923;
	color: #282923;
	font-size: 12px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
	text-transform: uppercase;
}

.btn-custom:hover {
	background: #282923;
	padding: 10px 30px 10px 30px;
	border-radius: 0;
	border: 1px solid #282923;
	color: #ffffff;
	font-size: 12px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
	text-transform: uppercase;
}

.form-control {
	background: #ffffff;
	border-radius: 0;
	padding: 0.3rem 0.3rem;
	border: 1px solid #282923;
	color: #282923;
	font-size: 12px;
	font-family: 'GT-America-Mono';
	word-spacing: -.2ch;
}

.contact-form-block {
	max-width: 700px;
}


