---
layout: default
---

<div class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="w-100" style="margin-top: -230px;">
    <div class="d-flex justify-content-center">
      <img src="/assets/images/ui/null-object-null-symbols-2-black-rgb.svg" alt="Null Object logo" width="220">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <img src="/assets/images/ui/null-object-logo-inline-black-rgb.svg" alt="Null Object logo" width="600">
    </div>
  </div>
</div>


<div class="container-fluid height-100 v-center null-slate pt-5"> 

  <div class="row max-width-800 ">
    <div class="col-md-12">
      <section class="post">
        <div class="post-content text-light">{{ content }}</div>
      </section>
    </div>
  </div>

</div>

