---
layout: default
---

<div class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="w-100" style="margin-top: -230px;">
    <div class="d-flex justify-content-center">
      <img src= {{"/assets/images/ui/null-object-null-symbols-2-black-rgb.svg" | relative_url}} alt="Null Object logo" width="220">
    </div>

    <div class="d-flex justify-content-center mt-5">
      <img src= {{"/assets/images/ui/null-object-logo-inline-black-rgb.svg" | relative_url}} alt="Null Object logo" width="600">
    </div>
  </div>
</div>


<div class="container-fluid"> 
  {% for post in site.categories.homepage %}
    <div class="row bricks null-green"> 
    {% assign remainder = forloop.index | modulo:2 %}
    
    {% if remainder == 0 %}

      <!-- if external image -->
      {% if post.image contains "https" %}
        <div class="col-sml-12 col-lg-8 bricks-image-homepage" style="background-image: url( {{ post.image }} );">
      {% elsif post.image %}
        {% assign filename = "/assets/images/" | append: post.image %}
        <div class="col-sml-12 col-lg-8 bricks-image-homepage" style="background-image: url( {{ filename | relative_url }} );">
      {% endif %}
        </div>
        <div class="col-sml-12 col-lg-4 bricks-text">
          <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
          </header>
          <div class="post-content">{{ post.content }}</div>
          <div class="post-link"><a href="{{ post.url | relative_url}}" type="button" class="btn btn-custom">Discover More</a></div>
        </div>

    {% else %}
        
        <div class="col-sml-12 col-lg-5 bricks-text">
            <header class="post-header">
              <h1 class="post-title">Featured Work:<br>{{ post.title }}</h1>
            </header>
            <div class="category-content mb-4">
              <!-- calculate how many categories will be used -->
              {% assign category-size = post.categories.size %}
              {% if post.categories contains "showcase" %}
                {% assign category-size = post.categories.size | minus:1 %}
              {% endif %}

              <!-- print the list of categories  -->
              {% for item in post.categories %}
                {% if item == "services" or item == "research" or item == "education" %}
                  <span class="category">{{ item }} </span>
                    <span class="black-dot"></span>
                {% endif %}
              {% endfor %}

            </div>
            <div class="post-content">{{ post.content }}</div>
            <div class="post-link"><a href="{{ post.url | relative_url}}" type="button" class="btn btn-custom">Discover More</a></div>
        </div>
        <!-- if external image -->
      {% if post.image contains "https" %}
        <div class="col-sml-12 col-lg-7 bricks-image-homepage" style="background-image: url( {{ post.image }} );">
      {% elsif post.image %}
        {% assign filename = "/assets/images/" | append: post.image %}
        <div class="col-sml-12 col-lg-7 bricks-image-homepage" style="background-image: url( {{ filename | relative_url }} );">
      {% endif %}
      </div>

  {% endif %}



    
 </div>
  {% endfor %}
  

<!-- 
  <div class="row max-width-800 ">
    <div class="col-md-12">
      <section class="post">
        <div class="post-content text-light">{{ content }}</div>
      </section>
    </div>
  </div> -->

</div>

