---
layout: default
---

<div class="row max-width-800 ">
  <div class="col-md-12">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content">{{ content }}</div>
    </article>
  </div>

  {% if page.section == "research" %}
    <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
    <div class="row">
      {% for post in site.categories.research %}
          {% include cards.html %}
      {% endfor %}
    </div>

  {% elsif page.section == "education" %}
    <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
    <div class="row">
      {% for post in site.categories.education %}
          {% include cards.html %}
      {% endfor %}
    </div>

  {% elsif page.section == "services" %}
    <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
    <div class="row">
      {% for post in site.categories.services %}
          {% include cards.html %}
      {% endfor %}
    </div>

  {% elsif page.section == "showcase" %}
    <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
    <div class="row">
      {% for post in site.categories.showcase %}
          {% include cards.html %}
      {% endfor %}
    </div>

  {% elsif page.section == "contact" %}
    {% include contact.html %}
  {% endif %}

</div>

