---
layout: default
---
{% if page.section == "education" or page.section == "research" or page.section == "contact" or page.section == "about" %}
  {% include banner.html %}
{% endif %}

{% if page.section == "contact" %}
  {% assign col_width = "col-md-4" %}
{% else %}
  {% assign col_width = "col-md-12" %}
{% endif %}
  

{% if page.section == "about" %}
  <!-- <div class="col-md-12" > -->
      {% include colored-text-block.html %}
  <!-- </div> -->
{% endif %}

<div class="container {{ page.section }}-section">
  <div class="row max-width-1200">
    <div class="{{ col_width }}">
      <article class="">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <div class="post-content">{{ content }}</div>
      </article>
    </div>

    {% if page.section == "contact" %}
        <!-- Add contact form -->
        <div class="col-md-6 post-title">
          {% include contact.html %}
        </div>
    {% endif %}
  </div>

{% if page.section == "research" %}
  <div class="row max-width-1200">
    <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
      {% for post in site.categories.research %}
          {% include cards.html %}
      {% endfor %}
  </div>

{% elsif page.section == "education" %}
  <!-- <div class="col-md-12"> -->
      {% include bricks.html %}
  <!-- </div> -->


{% elsif page.section == "showcase" %}
  <div class="row max-width-1200">
    <div class="col-md-12">
      {% include carousel.html %}
    </div>
  </div>
  <div class="row max-width-1200">
  <h1 class="case-studies-header">Case Studies - {{ page.section }}</h1>
    {% for post in site.categories.showcase %}
        {% include cards.html %}
    {% endfor %}
  </div>
{% endif %}

  
</div>

{% if page.section == "about" %}
      {% include null-equation-block.html %}
{% endif %}

{% if page.section == "services" %}
      {% include services-icons.html %}
      {% include faqs.html %}
{% endif %}

