---
layout: default
---

<div class="container ">

  <div class="row">
    <div class="col-md-12 mt-3 ms-3">
              <a type="button" class="btn btn-custom" href="{{page.next.url | relative_url}}" tabindex="-1"
                ><img src="/assets/images/ui/arrow-left.svg" class="arrow" style="vertical-align: baseline;" alt="Left arrow"> Back</a
              >

    </div>
  </div>


  <div class="row max-width-1200">
    <div class="col-md-4">
      <article class="">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
      </article>
    </div>

      <!-- Add contact form -->
      <div class="col-md-6 post-title">
        <div class="post-content">{{ content }}</div>
      </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="next-previous-articles">
        <nav aria-label="">
          <ul class="pagination justify-content-between">
            {% if page.next.url %}
            <li class="page-item">
              <a type="button" class="btn btn-custom" href="{{page.next.url | relative_url}}" tabindex="-1"
                ><img src="/assets/images/ui/arrow-left.svg" class="arrow" style="vertical-align: baseline;" alt="Left arrow"> {{page.next.title}}</a
              >
            </li>
            {% endif %} {% if page.previous.url %}
            <li class="page-item">
              <a type="button" class="btn btn-custom" href="{{page.previous.url | relative_url}}"
                >{{page.previous.title}} <img src="/assets/images/ui/arrow-right.svg" class="arrow" style="vertical-align: baseline;" alt="right arrow"></a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

    </div>
  </div>

</div>