---
layout: default
---

<div class="container ">

  <div class="row max-width-1200">
    <div class="col-md-12 mt-3">
              <a type="button" class="btn btn-custom" onclick="history.back()" href="#" tabindex="-1"
                ><img src={{"/assets/images/ui/arrow-left.svg" | relative_url}} class="arrow" style="vertical-align: baseline;" alt="Left arrow"> Back</a
              >

    </div>
  </div>


  <div class="row max-width-1200">
    <div class="col-md-3">
      
    </div>

      <!-- post content -->
      <div class="col-md-6 post-title post-block">
        <div class="mb-4">
              <!-- calculate how many categories will be used -->
              {% assign category-size = page.categories.size %}
              {% if page.categories contains "showcase" %}
                {% assign category-size = page.categories.size | minus:1 %}
              {% endif %}

              <!-- print the list of categories  -->
              {% for item in page.categories %}
                {% if item == "services" or item == "research" or item == "education" %}
                  <span class="category">{{ item }} </span>
                    <span class="black-dot"></span>
                {% endif %}
              {% endfor %}

            </div>
        <article class="">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>
          <div class="post-content">{{ content }}</div>
        </article>
      </div>

      <div class="col-md-3">
      </div>
  </div>


  <div class="row max-width-1200">
    <div class="col-md-12">
      <div class="next-previous-articles">
        <nav aria-label="">
          <ul class="pagination justify-content-between">
            {% if page.next.url %}
            <li class="page-item">
              <a type="button" class="btn btn-custom" href="{{page.next.url | relative_url}}" tabindex="-1"
                ><img src={{"/assets/images/ui/arrow-left.svg" | relative_url}} class="arrow" style="vertical-align: baseline;" alt="Left arrow"> {{page.next.title}}</a
              >
            </li>
            {% endif %} {% if page.previous.url %}
            <li class="page-item">
              <a type="button" class="btn btn-custom" href="{{page.previous.url | relative_url}}"
                >{{page.previous.title}} <img src={{"/assets/images/ui/arrow-right.svg" | relative_url}} class="arrow" style="vertical-align: baseline;" alt="right arrow"></a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

    </div>
  </div>

</div>